@model PagingApp.Models.IndexViewModel
@using PagingApp.Helpers;
@{ 
    ViewBag.Title = "Home Page";
}
<table class="table">
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
    </tr>
    @foreach (var item in Model.Phones)
    {
        <tr>
            <td>@item.Model</td>
            <td>@item.Producer</td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
